.root {
  background-image: url("../../assets/pics/arms.jpg");
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
  height: auto;
}

.formContainer {
  width: 400px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}
